
  // COLORS
  $color-primary: #d60054;  //#d60054  c0392b
  $color-primary-light: #f80061; //#f80061  d3483a
  $color-primary-dark: #b40047;  //#b40047  a43125
  
  $color-secondary-light: #ffb900;
  $color-secondary-dark: #ff7730;
  
  $color-tertiary-light: #2998ff;
  $color-tertiary-dark: #5643fa;
  
  $color-grey-light-1: #f7f7f7;
  $color-grey-light-2: #eee;
  
  $color-grey-dark: #777;
  $color-grey-dark-2: #999;
  $color-grey-dark-3: #0a0004; //0a0004 333 first: new color, second: old color
  
  $color-white: #fff;
  $color-black: #000;
  
  
  // FONT
  $default-font-size: 1.6rem;
  
  
  // GRID
  $grid-width: 114rem;
  $gutter-vertical: 8rem;
  $gutter-vertical-small: 6rem;
  $gutter-horizontal: 6rem;