.dropbtn {
    border: none;
    cursor: pointer;
    padding: 19px;
    font-size: 16px;

    @media only screen and (max-width: 970px)  { 
        padding: 15px; 
        font-size: 12px;
    }

    @media only screen and (max-width: 460px)  { 
        padding: 12px;
        font-size: 9px;
   }
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-grey-light-1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    &__loggedIn {
        min-width: 12rem;
    }

    &__loggedOut {
        min-width: 5rem;
    }
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.dropdown-content a:hover { background-color: var(--color-grey-light-3) }

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown:hover .dropbtn {
    //background-color: #3e8e41;
}



/***************************
notification
***************************/

.react-notification-center .r-notifications-icon {
   
    top:12px;

    @media only screen and (max-width: 970px)  { 
       top: 6px;
    }

    @media only screen and (max-width: 460px)  { 
       top: 0px;
    }
}